---
import Layout from "../layouts/Layout.astro"
import "../styles/leaderboard.css"



---
  

<div class="leaderboard-container">
  <h2 class="leaderboard-title">Daily Leaderboard</h2>

  <table class="leaderboard-table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>WPM</th>
        <th>Accuracy</th>
        <th>correct</th>
        <th>Incorrect</th>
        <th>Time</th>
        <th>Taken</th>
      </tr>
    </thead>

    <tbody id="ranking-table">
      <!-- data of server or WebSocket -->
    </tbody>
  </table>
</div>

<script is:inline>

  function toVancouverTime(isoString) {
    const date = new Date(isoString);
    const local = new Date(
      date.toLocaleString("en-US", { timeZone: "America/Vancouver" })
    );

    return (
      local.getFullYear() +
      "-" +
      String(local.getMonth() + 1).padStart(2, "0") +
      "-" +
      String(local.getDate()).padStart(2, "0") +
      " " +
      String(local.getHours()).padStart(2, "0") +
      ":" +
      String(local.getMinutes()).padStart(2, "0") +
      ":" +
      String(local.getSeconds()).padStart(2, "0")
    );
  }

  async function loadRanking() {
    const res = await fetch("http://localhost:3500/score/rank");
    const data = await res.json();
    updateTable(data);
  }
  
  function updateTable(data) {
    const tbody = document.getElementById("ranking-table");
    tbody.innerHTML = "";

    data.forEach((item, index) => {
        let rank;
        if (index === 0) rank = "🥇";
        else if (index === 1) rank = "🥈";
        else if (index === 2) rank = "🥉";
        else rank = index + 1;

      tbody.innerHTML += `
        <tr>
          <td>${rank}</td>
          <td>${item.username || "Unknown"}</td>
          <td>${item.wpm} WPM</td>
          <td>${item.accuracy}%</td>
          <td>${item.correctChars}</td>
          <td>${item.incorrectChars}</td>
          <td>0:${item.duration || "-"}</td>
          <td>${toVancouverTime(item.takenAt) || "-"}</td>
        </tr>
      `
    })
  }

  loadRanking()
</script>

<script src="http://localhost:3500/socket.io/socket.io.js" is:inline></script>

<script is:inline>
  const socket = io("http://localhost:3500");

  socket.on("ranking_update", (ranking) => {
    updateTable(ranking);
  });
</script>

